* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Mantém o tamanho da caixa*/
}

body {
  background-color: #09090a;
  color: white;

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; /*Espaço entre os elementos. Cada elemento ficou em uma ponta*/

  padding: 48px;

  position: fixed; /*Fixando e sobreponto*/
  background-color: #09090a; /*Para retirar todo o outro conteúdo*/
  width: 100%; /*ocupar 100% de sua largura*/
}

button {
  padding: 16px 24px;
  border: 1px solid #8b5cf6;
  border-radius: 8px;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center; /*Só é possível usar com flex*/
  gap: 12px; /*"Espaço entre" elementos*/

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;
  padding: 182px 48px 48px; /*182px do conteúdo do header*/
  width: fit-content; /*fit-content -> Encaixar todo o conteúdo. Aqui no caso na largura*/
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  
  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;
  
  display: flex;
  align-items: center; /*Fica no meio da linha vertical*/
  justify-content: center; /*Centraliza na horizontal*/
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;

  color: #A1A1AA;

  text-align: center;
}

input {
  appearance: none; /*para não ter sua forma padrão*/
  -webkit-appearance: none; /*Para funcionar no safari, chrome...*/

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px; /*Arredondamento de borda*/

  background: #18181b;
}

/*pseudo-selector*/
input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

/*@media: Responsividade no css.
Ao ser menor que 570px, a div dentro do botão irá sumir, ou seja, o "Registrar o meu dia". Ficando somente o sinal de +*/
@media (max-width: 570px) { 
  button div {
    display: none;
  }
}
